# env name example
# .env.development.local
# .env.production.local

PORT=3000
HOST=http://localhost:3000

NODE_ENV=dev

AUTH_GRPC_URL=auth-service:50051
USER_GRPC_URL=user-service:50052

COOKIES_DOMAIN=localhost
COOKIES_SECRET=123456

#JWT 
JWT_SECRET=123456